server:
  port: 9999
spring:
  application:
    name: iam-server
  datasource:
    url: jdbc:postgresql://localhost:16850/iam-db
    username: itpusr
    password: itp@168
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      authorizationserver:
        issuer: http://localhost:9999